<h1 mat-dialog-title>Add a channel</h1>
<mat-form-field appearance="outline">
    <mat-label>Channel Name</mat-label>
    <input matInput [formControl]="channelname" placeholder="mychannel" minlength="2" maxlength="20" (input)="dupeChannelCheck()" required>
    <mat-error *ngIf="channelname.invalid && channelname.value==''">Channel name cannot be empty</mat-error>
    <mat-error *ngIf="channelname.invalid && channelname.value.length>1 && channelname.hasError('exists')">Cannot use duplicate channel names</mat-error>
    <mat-error *ngIf="channelname.invalid && channelname.value.length==1">Channel name should be at least 2 characters</mat-error>
</mat-form-field>
<br>
<br>
<!-- <mat-form-field appearance="outline">
    <mat-label>Who can join?</mat-label>
    <mat-select [formControl]="openness">
        <mat-option value="inviteOnly">Invite only</mat-option>
        <mat-option value="public">Public</mat-option>
    </mat-select>
</mat-form-field> -->
<br>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]>Cancel</button>
    <button mat-raised-button [disabled]="this.channelname.invalid || this.openness.invalid"
        matTooltip="{{(this.channelname.invalid)?'Please enter a channel name':'Click to create new channel'}}"
        (click)="createChannel()" color="primary">Add Channel</button>
</div>