.video-player {
  position: relative;
  text-align: center;
  padding: 0.5rem;
  background-color: #1d1c1c;
  /* height: fit-content; */
  margin: 0.5px;
  width: 100%;
}
.video-player video {
  max-width: 100%;
  height: auto;
  max-height: 400px;
}
.video-player .action {
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
.video-player .action .icon {
  opacity: 0.5;
  margin: 0.5rem;
}
.my-video {
  background-color: #1d1c1c;
  width: 100%;
}

.details-text {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  opacity: 0.5;
}

.details-text h3,
h4 {
  text-shadow: 0px 0px 16px #0f0f0f;
  line-height: 0.5rem;
  text-align: start;
}
