<div class="container-fluid justify-content-center">
    <div mat-dialog-title class="d-flex">
        <div class="me-auto">
            <button mat-raised-button class="new-button" [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <span class="new-icon"></span>
                <span>New</span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="createFolder()">
                    <mat-icon>create_new_folder</mat-icon>
                    <span>Folder</span>
                </button>
                <button mat-menu-item (click)="fileinput.click()">
                    <mat-icon>upload_file</mat-icon>
                    <span>File Upload</span>
                </button>
            </mat-menu>

            <!-- Hidden input for file upload -->
            <input type="file" hidden="true" (input)="fileSelected($event)" multiple #fileinput>

        </div>
        <button mat-icon-button class="dialog-close-button" color="primary" aria-label="Close Dialog Box"
            [mat-dialog-close]>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <br>
    <mat-divider></mat-divider>
    <button mat-icon-button color="primary" aria-label="Go Back" *ngIf="previous_folder_ids.length" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <!-- Child Folders -->
    <div class="row justify-content-center folder-container" *ngIf="selectedFolder">
        <button mat-raised-button class="col-3" *ngFor="let folder of selectedFolder.folders"
            (click)="openFolder(folder)">
            <mat-icon>folder</mat-icon>
            {{folder.name}}
        </button>
    </div>

    <!-- Files in folder -->
    <h4 class="fw-bold fs-4 d-flex">Files</h4>
    <div class="d-flex justify-content-center">
        <table class="vw-100" mat-table *ngIf="selectedFolder" [dataSource]="selectedFolder.files" matSort
            class="mat-elevation-z8">

            <!-- <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    &nbsp;
                </th>
                <td mat-cell class="filetype-icon" *matCellDef="let element">
                    <mat-icon *ngIf="element.filetype=='txt'">description</mat-icon>
                    <mat-icon *ngIf="['jpg','png'].indexOf(element.filetype)!=-1">image</mat-icon>
                </td>
            </ng-container> -->

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                    Filename
                </th>
                <td mat-cell *matCellDef="let element" (click)="downloadFile(element)">
                    <span class="filetype-icon">
                        <mat-icon *ngIf="element.filetype=='txt'">description</mat-icon>
                        <mat-icon *ngIf="['jpg','png'].indexOf(element.filetype)!=-1">image</mat-icon>
                    </span>
                    {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by creator">
                    Created by
                </th>
                <td mat-cell *matCellDef="let element"> {{element.author}} </td>
            </ng-container>

            <ng-container matColumnDef="uploadDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by upload date">
                    Created On
                </th>
                <td mat-cell *matCellDef="let element"> {{element.uploadDate}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>



</div>