* {
  color: #fff;
}
.main-container {
  background-color: #303030;
}

.mat-card {
  background-color: #424242;
}

.group-avatar-container {
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, #0575e6, #00f260);
  border-right: 5px solid;
}

.group-avatar {
  background-image: url("https://cdn1.iconfinder.com/data/icons/ui-4/502/group-512.png");
  background-color: #fff;
  width: 150px;
  height: 150px;
  object-position: 100% 0;
  object-position: 0 100%;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.footer mat-card-subtitle {
  font-size: 2rem;
}

.footer {
  margin-top: 2rem;
}

mat-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #fff;
}
