<h2 mat-dialog-title>Members</h2>
<mat-dialog-content class="mat-typography">
    <mat-list>
        <mat-list-item *ngFor="let member of members">
            <img mat-list-icon class="member-pfp-image" [src]="backendurl + member.picture">
            <h3 mat-line class="lh-1">{{member.fullname}}</h3>
            <p mat-line mat-card-subtitle> @{{member.username}} </p>
            <mat-form-field appearance="legacy" *ngIf="data.role=='owner' && member.role!='owner'">
                <mat-select [(value)]="member.role">
                    <mat-option value="admin" (click)="changeRole(member)">Admin</mat-option>
                    <mat-option value="member" (click)="changeRole(member)">Member</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>
    </mat-list>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>