<div class="container-fluid">
    <div class="d-flex align-items-center title-bar custom-container" #titleBar>
        <div class="me-auto ms-auto">
            <h3><span>{{selectedChannel.channelname}}</span></h3>
        </div>
        <button mat-fab color="primary" *ngIf="showVideoButton" (click)="getVideoCallLink()" aria-label="Video Call"
            matTooltip="Video Call" matTooltipPosition="before">
            <mat-icon>video_call</mat-icon>
        </button>
        <div class="files-button">
            <button mat-fab color="primary" (click)="openFiles()" aria-label="Access Files" matTooltip="View Files"
                matTooltipPosition="below">
                <mat-icon>folder_shared</mat-icon>
            </button>
        </div>

    </div>

    <!-- Message Box Starts -->

    <div class="message-box d-flex flex-column custom-container" #messageScroll [scrollTop]="messageScroll.scrollHeight"
        *ngIf="!chatIsLoading">
        <div *ngFor="let day of loadedMessages">
            <mat-chip-list class="d-flex justify-content-center date-chip-list">
                <mat-chip color="warn" selected>{{day.date}}</mat-chip>
            </mat-chip-list>
            <div *ngFor="let messageObj of day.messagesForTheDay; index as i">
                <div class="d-flex justify-content-end" *ngIf="messageObj.messageSender.username==username">
                    <div matRipple class="message-wrapper user-wrapper">
                        <span class="text-message">{{messageObj.message}}</span>
                    </div>
                    <span class="user-message-after"><svg viewBox="0 0 8 13" width="8" height="13" class="">
                            <path opacity=".13" d="M5.188 1H0v11.193l6.467-8.625C7.526 2.156 6.958 1 5.188 1z"></path>
                            <path fill="currentColor" d="M5.188 0H0v11.193l6.467-8.625C7.526 1.156 6.958 0 5.188 0z">
                            </path>
                        </svg></span>
                </div>
                <div class="d-flex justify-content-start" *ngIf="messageObj.messageSender.username!=username">
                    <span class="member-message-after"><svg viewBox="0 0 8 13" width="8" height="13" class="">
                            <path opacity=".13" fill="#0000000"
                                d="M1.533 3.568 8 12.193V1H2.812C1.042 1 .474 2.156 1.533 3.568z"></path>
                            <path fill="currentColor" d="M1.533 2.568 8 11.193V0H2.812C1.042 0 .474 1.156 1.533 2.568z">
                            </path>
                        </svg></span>
                    <div matRipple class="message-wrapper member-wrapper">
                        <h5 class="member-username">{{messageObj.messageSender.fullname}}</h5>
                        <span class="text-message">{{messageObj.message}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Message Box Ends -->

    <div class="row d-flex chat h-auto custom-container">

        <div class="d-flex justify-content-center align-items-center text-box custom-container" #inputBar>
            <!-- <mat-card class="d-flex justify-content-center bottom-input-card align-items-center"> -->

            <button mat-fab matSuffix color="primary" type="button" (click)="uploadToggle=!uploadToggle">
                <mat-icon *ngIf="!uploadToggle"> insert_photo </mat-icon>
                <mat-icon *ngIf="uploadToggle"> close </mat-icon>
            </button>

            <input class="form-control w-100 file-input" *ngIf="uploadToggle" single accept="image/*"
                (change)="imageSelected($event)" type="file" placeholder="Upload an image">

            <button mat-fab matSuffix color="primary" *ngIf="uploadToggle" (click)="sendImageSelected()"
                [disabled]="!this.selectedImage">
                <mat-icon>send</mat-icon>
            </button>

            <mat-card class="w-100 message-input">
                <mat-form-field appearance="fill" color="warn" class="w-100" *ngIf="!uploadToggle">
                    <textarea matInput [formControl]="newMessage" placeholder="Enter a message" cdkTextareaAutosize
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
            </mat-card>

            <button mat-fab matSuffix color="primary" *ngIf="!uploadToggle" (click)="sendMessage()"
                [disabled]="!this.newMessage.value">
                <mat-icon>send</mat-icon>
            </button>
            <!-- </mat-card> -->

        </div>
    </div>
</div>