<div class="container-fluid">
    <div class="row d-flex align-items-center title-bar custom-container" #titleBar>
        asf
    </div>
    <div class="row d-flex chat h-auto custom-container">

        <!-- Message Box Starts -->
        <div class="message-box d-flex flex-column" #messageBox [scrollTop]="messageBox.scrollHeight"
            *ngIf="!chatIsLoading">
            <div class="col-12" *ngFor="let message of messagesInChat">
                <div class="justify-content-start" *ngIf="message.messageSender!=username">
                    <div class="col-5 d-flex justify-content-end me-auto message-options">
                        <button mat-icon-button class="mat-message-menu" [matMenuTriggerFor]="menu">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item type="button" data-bs-toggle="modal"
                                (click)="messageToForward=message;" data-bs-target="#forwardModal">
                                <mat-icon class="flip-icon">reply</mat-icon>
                                <span>Forward</span>
                            </button>
                            <button mat-menu-item [cdkCopyToClipboard]="message.messageContent.toString()">
                                <mat-icon>content_copy</mat-icon>
                                <span>Copy</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div class="col-5 me-auto">
                        <div class="text-break message-wrapper" *ngIf="message.messageType=='text'">
                            {{message.messageContent}}
                            <div class="d-flex">
                                <small class="ms-auto">
                                    <mat-hint>{{message.messageTime}}</mat-hint>
                                </small>
                            </div>
                        </div>
                        <div class="img-message-wrapper" *ngIf="message.messageType.split('/')[0]=='image'">
                            <img class="img-responsive w-100 img-round-border"
                                src="data:{{message.messageType}};base64,{{message.messageContent}}"
                                alt="Image From FILL HERE FILL">
                            <div class="d-flex">
                                <small class="ms-auto">
                                    <mat-hint>{{message.messageTime}}</mat-hint>
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-5 me-auto message-wrapper message-wrapper"
                *ngIf="message.messageType.split('/')[0]=='video'">
                <video controls class="video-responsive w-100"
                    src="data:{{message.messageType}};base64,{{message.messageContent}}" alt="Video From You">
                </video>
            </div> -->
                </div>
                <div class="justify-content-end" *ngIf="message.messageSender==username">
                    <div class="col-5 d-flex justify-content-end ms-auto message-options">
                        <button class="message-options-user-icon" mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>keyboard_arrow_down</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item type="button" data-bs-toggle="modal"
                                (click)="messageToForward=message;" data-bs-target="#forwardModal">
                                <mat-icon class="flip-icon">reply</mat-icon>
                                <span>Forward</span>
                            </button>
                            <button mat-menu-item [cdkCopyToClipboard]="message.messageContent.toString()">
                                <mat-icon>content_copy</mat-icon>
                                <span>Copy</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div class="col-5 ms-auto">
                        <div class="text-break message-wrapper message-wrapper-user"
                            *ngIf="message.messageType=='text'">
                            {{message.messageContent}}
                            <div class="d-flex">
                                <small class="ms-auto">
                                    <mat-hint class="user-message-date">{{message.messageTime}}</mat-hint>
                                </small>
                            </div>
                        </div>
                        <div class="img-message-wrapper message-wrapper-user"
                            *ngIf="message.messageType.split('/')[0]=='image'">
                            <img class="img-responsive w-100 img-round-border"
                                src="data:{{message.messageType}};base64,{{message.messageContent}}"
                                alt="Image From You">
                            <div class="d-flex">
                                <small class="ms-auto">
                                    <mat-hint class="user-message-date">{{message.messageTime}}</mat-hint>
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-5 ms-auto message-wrapper message-wrapper-user"
                *ngIf="message.messageType.split('/')[0]=='video'">
                <video controls class="video-responsive w-100"
                    src="data:{{message.messageType}};base64,{{message.messageContent}}" alt="Video From You">
                </video>
            </div> -->

                </div>
            </div>

        </div>
        <!-- Message Box Ends -->


        <div class="d-flex justify-content-center align-items-center text-box custom-container" #inputBar>
            <!-- <mat-card class="d-flex justify-content-center bottom-input-card align-items-center"> -->

            <button mat-fab matSuffix color="primary" type="button" (click)="uploadToggle=!uploadToggle">
                <mat-icon *ngIf="!uploadToggle"> insert_photo </mat-icon>
                <mat-icon *ngIf="uploadToggle"> close </mat-icon>
            </button>

            <input class="form-control w-100 file-input" *ngIf="uploadToggle" single accept="image/*"
                (change)="imageSelected($event)" type="file" placeholder="Upload an image">

            <button mat-fab matSuffix color="primary" *ngIf="uploadToggle" (click)="sendImageSelected()"
                [disabled]="!this.selectedImage">
                <mat-icon>send</mat-icon>
            </button>

            <mat-card class="w-100 message-input">
                <mat-form-field appearance="fill" color="warn" class="w-100" *ngIf="!uploadToggle">
                    <textarea matInput [formControl]="newMessage" placeholder="Enter a message" cdkTextareaAutosize
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
            </mat-card>

            <button mat-fab matSuffix color="primary" *ngIf="!uploadToggle" (click)="sendMessage()"
                [disabled]="!this.newMessage.value">
                <mat-icon>send</mat-icon>
            </button>
            <!-- </mat-card> -->

        </div>
    </div>
</div>