<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 row justify-content-center">

            <mat-form-field appearance="fill">
                <mat-label>username or email</mat-label>
                <input matInput placeholder="username" [formControl]="username">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="this.username.invalid">Invalid Username</mat-error>
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide_password ? 'password' : 'text'" placeholder="password" [formControl]="password">
                <button mat-icon-button matSuffix (click)="hide_password = !hide_password"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password">
                    <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="this.password.invalid">Enter a password</mat-error>
            </mat-form-field>

            <br>
            <div class="col-12 d-flex">
                <button class="d-flex" mat-button color="primary" (click)="registerRedirect()">Create an
                    account?</button>
                <div class="flex-fill"></div>
                <button class="d-flex" mat-raised-button color="primary">Login</button>
            </div>
        </div>
    </div>
</div>