<div class="d-inline-flex">
    <div class="container-fluid vh-100" *ngIf="selectedGroup.groupname">
        <div class="d-flex">
            <mat-card-title>{{selectedGroup.groupname}}</mat-card-title>
            <div class="flex-fill"></div>
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Show menu" matTooltipPosition="after">
                <mat-icon class="group-menu-icon">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" color="#fff" class="custom-menu">
                <button mat-menu-item (click)="addChannel()"
                    *ngIf="selectedGroup.grouprole=='admin' || selectedGroup.grouprole=='owner'">
                    <mat-icon>add</mat-icon>
                    <span>Add a channel</span>
                </button>

                <button mat-menu-item (click)="viewMembers()">
                    <mat-icon>group</mat-icon>
                    <span>View all members</span>
                </button>

                <button mat-menu-item [cdkCopyToClipboard]="inviteLink">
                    <mat-icon><span class="material-icons">
                            content_copy
                        </span></mat-icon>
                    <span>Copy invite link</span>
                </button>
                <!-- <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button> -->
            </mat-menu>

        </div>
        <div class="channel-list-item m-1 mb-2 {{channel==selectedChannel? 'fw-bold bg-secondary' : ''}}"
            *ngFor="let channel of selectedGroup.channels" (click)="selectedChannel=channel; refreshChatbox()">
            <!-- <img mat-card-avatar class="channel-icon"
                [src]="'https://ui-avatars.com/api/?background=random&length=1&size=128&font-size=0.75&bold=true&name='+channel.channelname"> -->
            <span class="channel-name p-2 ps-1 fs-5">{{channel.channelname}}</span>
        </div>
    </div>
    <app-chatbox *ngIf="selectedGroup.groupname" [selectedChannel]="selectedChannel"
        [grouprole]="selectedGroup.grouprole" [selectedGroup]="selectedGroup" style="width: calc(100vw - 316px);"></app-chatbox>
</div>