<div class="d-flex flex-column vw-100 vh-100 align-items-center justify-content-center body-container"
  *ngIf="pageloading">
  <h1 class="text-center logo">Webca</h1> <br>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="d-flex flex-column vw-100 vh-100 align-items-center justify-content-center body-container"
  *ngIf="invalidLink">
  <h1 class="text-center">Invalid Link</h1> <br>
  <button mat-raised-button routerLink="/">Dashboard</button>
</div>
<div class="d-flex flex-column vw-100 vh-100 align-items-center justify-content-center body-container"
  *ngIf="linkexpired">
  <h1 class="text-center">Link Expired</h1> <br>
  <button mat-raised-button routerLink="/">Dashboard</button>
</div>
<div class="d-flex flex-column vw-100 vh-100 align-items-center justify-content-center body-container"
  *ngIf="userNotAuthorized">
  <h1 class="text-center">You are not authorized to enter this call</h1> <br>
  <button mat-raised-button routerLink="/">Dashboard</button>
</div>

<div class="d-flex container-fluid p-0 body-container vh-100" *ngIf="userIsMember">


  <mat-drawer-container class="body-container w-100 p-0">
    <mat-drawer class="row" #sidenav mode="side" position="end">

      <button mat-fab class="position-absolute top-50 start-0 translate-middle toggler-button-drawer" color="primary"
        aria-label="Toggle Chat" (click)="sidenav.toggle()" *ngIf="initialScreenWidth<500">
        <mat-icon>{{sidenav.opened ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>
      </button>

      <app-chatbox class="col-xs-12 col-sm-12 col-md-5 col-lg-4 w-100" *ngIf="selectedChannel.channelname && isHideChat"
        [selectedChannel]="selectedChannel" [showVideoButton]="false">
      </app-chatbox>
    </mat-drawer>


    <mat-drawer-content class="overflow-hidden d-flex flex-column">

      <button mat-fab class="position-absolute bottom-0 start-0 toggler-button" color="primary" aria-label="Toggle Chat"
        (click)="sidenav.toggle()">
        <!-- <mat-icon>{{sidenav.opened ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon> -->
        <mat-icon>{{!sidenav.opened ? 'chat' : 'speaker_notes_off'}}</mat-icon>
      </button>


      <div class="mx-auto w-100 p-0 flex-fill flex-column" style="overflow-y: scroll; overflow-x:hidden;">
        <app-video-player class="my-video col-12 d-inline-block vh-75 align-items-center" *ngIf="fullScreenStream"
          [stream]="fullScreenStream" (dblclick)="fullScreenStream=''" style="height: 50vh;">
        </app-video-player>


        <div class="row" [ngClass]="{
          'row-cols-1': joinedUsers.length === 1,
          'row-cols-2': joinedUsers.length > 1 && joinedUsers.length <= 4,
          'row-cols-3': joinedUsers.length > 4 && joinedUsers.length <= 9,
          'row-cols-4': joinedUsers.length > 9
          }">
          <!-- <app-video-player class="my-video col-1 position-absolute bottom-0 end-0" *ngIf="localStream" [mode]="'owner'" [stream]="localStream">
        </app-video-player> -->
          <span class="col-xs-12 col-sm-3 col-md-3" *ngFor="let user of joinedUsers">
            <app-video-player class="col rounded" [stream]="user.stream" [details]="joinedUsersDetails.get(user.peerId)"
              (dblclick)="setFullScreenStream(user.stream)" style="border-radius: 3rem;">
            </app-video-player>
          </span>
        </div>
        <!-- <div class="row row-cols-1 row-cols-md-3">
          
          <span *ngFor="let user of joinedUsers">
            <app-video-player class="col rounded" [stream]="user.stream"
              [details]="joinedUsersDetails.get(user.peerId)" (dblclick)="setFullScreenStream(user.stream)">
            </app-video-player>
          </span>
        </div> -->

      </div>


      <!-- <app-video-player
        class="my-video col-1 col-xs-3 col-sm-3 col-md-1 col-lg-1 position-absolute bottom-0 end-0 rounded shadow"
        *ngIf="localStream" [mode]="'owner'" [stream]="localStream">
      </app-video-player> -->
      <app-video-player class="" *ngIf="localStream" [mode]="'owner'" [stream]="localStream">
      </app-video-player>
      <!-- <app-video-player class="position-absolute bottom-0 start-50 translate-middle-x w-100" *ngIf="localStream"
        [mode]="'owner'" [stream]="localStream">
      </app-video-player> -->
    </mat-drawer-content>
  </mat-drawer-container>

</div>


<!-- 
<div class="d-flex container-fluid body-container vh-100" *ngIf="userIsMember">
  <div class="row">
    <app-video-player class="col-3" *ngIf="localStream" [mode]="'owner'" [stream]="localStream" class="my-video">
    </app-video-player>
    <app-video-player class="col-3" *ngFor="let user of joinedUsers" [stream]="user.stream">
    </app-video-player>
  </div>
  <app-chatbox class="col-4" *ngIf="selectedChannel.channelname && isHideChat" [selectedChannel]="selectedChannel">
  </app-chatbox>
</div> -->